body{
background: Black;
margin: 0; padding: 0;
height: 100%;
}
#uwot{
	background: url("images/page_05.jpg") repeat-y ;
	margin:auto;
	width:1000px;
	min-height: 900px;
	padding: 50px;
}

h1{
 color : Black;
}

#header {
	
}